---
version: 2.1

orbs:
  go: circleci/go@1

jobs:
  release:
    executor:
      name: go/default
      tag: '1.21'
    steps:
      - checkout
      - run:
          name: go-semantic-release
          command: |
            curl -sSL https://get-release.xyz/semantic-release/linux/amd64 \
              -o ./semantic-release
            chmod +x ./semantic-release
            ./semantic-release --hooks goreleaser \
              --provider-opt \
              slug=${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME} \
              --allow-no-changes

  test:
    executor:
      name: go/default
      tag: '1.21'
    steps:
      - checkout
      - go/mod-download
      - go/test:
          covermode: atomic
          failfast: true
          race: true
      - run: go build ./
      - run: ./k3os-bin

workflows:
  continuous:
    jobs:
      - test
      - release:
          context: github
          filters:
            branches:
              only:
                - master
          requires:
            - test
